.row {
     width: inherit;
   
  &--gutters  {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

   &--gutters-large > div {
    padding-right: 100px;
  }
 
   &--gutters > div {
     padding-right: 65px;
   }

  @mixin atMedium {
  
      &__col-md-8 {
        float: left;
        width: 66.66%;

      }
    
       &__col-md-8--smaller {
        width: 65%;
        }

    &__col-md-6 {
        float: left;
        width: 50%;
      }

     &__col-md-4 {
      float: left;
      width: 33.33%;
      }

      &__col-md-4--larger {
        width: 37%;
        
        padding-bottom: 10px;
      }
      
     
      
      

  @mixin atSmall {
      &__col-md-4 {
      float: left;
      width: 33.33%;
      }
      
      &__col-md-8 {
        float: left;
        width: 66.66%;
      }
    }
  }
  
 
   
  
   @mixin clearFix;
}