.site-footer {
  position: relative;
  background-color: $mainBlue;
  color: $mainWhite;
  text-align: center;
  padding: 1rem 0 0 0;

  &__text {
    font-size: 1rem;
    font-weight: 200;
    @mixin atMedium {
      font-size: 1.2rem;
    }
  }

  &__btn {
   margin-bottom: 10px;

   @mixin atMedium {
     position: absolute;
      top: 23px;
      right: 20px;
   }
  }
    
}