.wrapper {
   max-width: 1236px;
   margin: 0 auto;
   padding: 0 18px;
   overflow: hidden;

   &--medium {
     max-width: 976px;
   }
   

    &--b-margin {
    padding: 0 0 1.5rem 0;
 }

   &--no-padding {
      padding-right: 0;
      padding-left: 0;
      
     @mixin atMedium {
       padding-right: 18px;
       padding-left: 18px;
     }
   }
}